# Ignore docker-compose and other non-essential build files
docker-compose.yml


# Ignore any temporary files
*.tmp
*.log
*.swp
*.bak

# Ignore version control directories
.git
.gitignore

# Ignore build artifacts
bin/
obj/